.card {
  width: 90px;
  height: 94px;
  background: rgb(228, 231, 232);
  transition: all 0.4s;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705); */
  font-size: 30px;
  font-weight: 900;
  margin: 20px;
}
.card1 {
  width: 150px;
  height: 100px;
  background: rgb(228, 231, 232);
  transition: all 0.4s;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705); */
  font-size: 30px;
  font-weight: 900;
  margin: 30px;
}


.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background: rgb(248, 249, 252);
}
.card1:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background: rgb(248, 249, 252);
}
.img {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .img {
  height: 0px;
  opacity: 0;
}


#flex{
  display: flex;
  justify-content: space-between;
}
 button{
  border-radius: 20%;
  background-color: rgb(27, 94, 166);
 }
 .sony{
  background: #000;
  color: aliceblue;
  text-align: right;
}
button1{
  background-color: rgb(14, 109, 161);
  padding: 10px;
  font-size: large;
  border-radius: 100px;
  border: 0;
  height: 50px;
  width: 150px;
  color: aliceblue;
}
button2{
  background-color: red;
  font-size: large;
  border-radius: 100px;
  border: 0;
  height: 50px;
  width: 150px;
  padding: 10px;
  color: aliceblue;
}
.para{
  padding: 90px;

}
.para h5{
  
  font-size: 50px;
}
.para h6{
  color: rgb(33, 199, 254);
  font-size: larger;
  
}
#flex1{
  display: flex;
  justify-items: center;
}
#back{
  background-color: #000;
}
.back1 p{
  color: aliceblue;
  text-align: center;
  padding: 40px;
  font-size: 30px;
}
.card2 {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 10px;
  
}

.card2:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card2:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
#flex2{
  display: flex;
  justify-content: center;
}
/* Remove this container when use*/
.component-title {
  width: 800px;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #070606;
  text-align: center;
}

.tab-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  left: 600px;

  padding: 4px;

  background-color: #303037;
  border-radius: 9px;
}

.indicator {
  content: "";
  width: 130px;
  height: 38px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 38px;

  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 0.75rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(130px * 2 + 2px);
}
.space{
  width: 280px;
  height: 50px;
  
}
img{
  border-radius: 17px;
}

.ground1 img{
 margin-left: 600px;
margin-top: 30px;
 
}
.ground1,h{
  font-size: larger;
}
.header{
  text-align: center;
  padding: 5px;
  font-size: 60px;

}
.white{
  position: absolute;
 top: 3300px;
 left: 100px;
}
.feel{
  font-size: 30px;
  color: #ffffff;
}
.el{
  color: #ffffff;
}
.find{
  color: #ffffff;
}

.july{
 position: absolute;
 top: 3800px;
 left: 50px;
  font-size: 30px;
}
.find1{
  position: absolute;
  top: 3970px;
  left: 50px;
}
.p{
  position: absolute;
  top: 3900px;
  left: 50px;

}
#violet{
  background-color: rgb(14, 10, 18);
}

.card4 {
  box-sizing: border-box;
  width: 300px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 70px;
  
}

.card4:hover {
  border: 1px solid black;
  transform: scale(1.30);
}

.card4:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
#flex4{
  display: flex;
  justify-content: center;
}
.find2{
  position: absolute;
  top: 4700px;
  left: 650px;
  padding: 70px;
}
@media only screen and (max-width: 480px){
.crt{
  width: 430px;

}
.carousel-item img{
  width: 430px;
 height: 200px;
}
 #flex{
  width: 430px;
  flex-direction: row;

}
.card img{
  width:40px;
  height:44px;
}
 .card{
  width:40px;
   height:44px;
}
.dropdown-menu{
  width: 420px;
}
 .card2{
  width: 50px;
 }
 .para {
  font-size:9px;
  padding: 50px;


 }
 .para h5{
  font-size:9px;
  
 }
 .para button1,button2{
  font-size:9px;
 }
 .bor img{
  width: 110px;
 }
 .crt2{
  width: 110px;
  
 }
 .card1{
  width: 40px;
  height: 44px;
  margin: 10px;

 }
 .crt2 img{
  width: 40px;
  height: 44px;

 }
 .card2{
  width: 50px;
  height: 104px;
  margin: 5px;


 }
 .row img{
  width: 50px;
  height: 110px;


 }
 .row{
  width: 430px;
 }
 .fix{ 
  position: absolute;
  top: 880px;
  left: -500px;
  
 }
 .header{
  text-align: center;
  padding: 3px;
  font-size: 30px;

}
.ground1 img{
  position: absolute;
  width: 50px;
  left: -503px;
 margin-top: 3px;


  
 }
 .ground1,h{
   font-size: medium;
   text-align: center;
 }
 .gly img{
  width: 430px;
  height: 300px;
 }
 .white{
  position: absolute;
  top: 1600px;
 left: 30px;
 
}
.feel{
  font-size: 10px;
}
.el{
  font-size: 8px;
}
.find{
  font-size: 10px;
}
#cart img{
  width: 430px;
  height: 450px;
}
.july{
  position: absolute;
  top: 1860px;
  left: 30px;
   font-size: 30px;
 }
 .find1{
  position: absolute;
  top: 2050px;
  left: 30px;
}
.p{
  position: absolute;
  top: 1950px;
  left: 20px;

}
.card4{
  width:100px ;
  height: 130px ;
  margin: 10px;
  margin-top: 80px;
}
#violet img{
  width:100px ;
  height: 130px ;
}
#violet{
  background-color: rgb(14, 10, 18);
  width: 430px;
  height: 400px;
}
.footer{
  width: 430px;
}
.sony{
  background: #000;
  color: aliceblue;
  text-align: right;
  width: 430px;
}
.mid{
  width: 430px;
}
#back{
  background-color: #000;
  width: 430px;
}
#set{
  width: 430px;
}


 }